/* flexbox */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,.btn {
    background-color: hsl(0, 0%, 95%);
}
h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 36px;
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}
.container_flex {
    display: flex;
    width: 70%;
    margin: auto;
    text-align: left;
    height: 100vh;
    color: white;
    padding: 15px;
}
.row_flex {
    flex: 33.3%;
    flex-grow: 1;
    margin: auto;
    height: 65vh;
}
#orange {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}
#cyan {
    background-color: hsl(184, 100%, 22%);
}
#dark_cyan {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}
.inner_card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15%;
}
.content_card {
    flex-grow: 1;
}
.content_card > img {
    margin: auto;
    height: 50px;
}
.content_card > a {
    padding: 10px 20px;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 20px;
    font-size: 15px;
    border: 2px solid hsl(0, 0%, 95%);
}
.content_card > a:hover {
    color: hsl(0, 0%, 95%);
    background: transparent;
}
.orange > a {
    color: hsl(31, 77%, 52%);
}
.cyan > a {
    color: hsl(184, 100%, 22%);
}
.dark_cyan > a {
    color: hsl(179, 100%, 13%);
}
.no-margin {
    margin-top: -55px;
}
.center {
    text-align: center;
}
.nav_btn > a {
    background: transparent;
    border: 2px solid hsl(184, 100%, 22%);
}
.nav_btn > a:hover {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}