* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section {
    margin: auto;
}

h1 {
    font-size: 2rem;
}

img {
    cursor: pointer;
}

header {
  width: 100%;
  position: fixed;
  background-color: black;
}

footer {
    background-color: black;
    color: rgb(229, 229, 229);
    padding: 10px;
    text-align: center;
    font-size: small;
}

footer > p {
    cursor: default;
}

#nav {
    text-align: center;
    padding: 15px;
    width: 100%;
}

#nav > ul {
    margin: auto;
}

#nav > ul > li {
    display: inline;
    text-transform: uppercase;
    list-style-type: none;
}

#nav > ul > li > a {
    margin: 5px;
    color: aqua;
    text-decoration: none;
}

.a__btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
}

#img__row > img {
    max-width: 300px;
    border-radius: 0 0 15% 15%;
}

.row {
    text-align: center;
}

.row__btn {
    width: 90%;
}

.row__btn > a {
    color: aqua;
    background-color: black;
    border: 2px solid aqua;
    padding: 10px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.row__txt {
    padding: 1rem;
    padding-top: 5rem;
    padding-right: 2.5rem;
}

.row__txt > p {
    font-size: 1.5rem;
}

.grid__col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ". . .";
    gap: 10px;
}

.grid__col-3 > div {
    padding: 30px;
    border: 2px solid aqua;
}

.grid__col-3 > div:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

table {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90%;
    text-align: center;
    cursor: pointer;
}

thead  {
    background-color: aqua;
}

tbody {
    color: white;
    background-color: black;
}

tbody:hover {
    color: rgb(229, 229, 229);
}

/* additional styling */
.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.center__txt {
    text-align: center;
}

.top__margin {
    margin-top: 1.5rem;
}

.top__margin--extra {
    margin-top: 3rem;
}

.black__txt {
    color: aqua;
    background-color: black;
    padding: 5px;
}

.icon {
    height: 90px;
    margin-bottom: 5px;
}

.icon__lg {
    height: 240px;
    margin-bottom: 5px;
}

/* form styling */
form {
    margin: auto;
    width: 300px;
    background: transparent;
    padding: 20px;
    border: 2px solid black;
}

form input, textarea {
    width: 100%;
    margin-top: 10px;
    border: 2px solid black;
    outline: none;
}

form input[type="text"],
form input[type="email"],
textarea {
    padding: 8px;
}

form input[type="submit"] {
    padding: 9px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

/* media queries */

@media (max-width: 890px) {
    .container  {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ".";
    }

    .row__txt {
        padding: 1rem;
    }

    .row__txt > p {
        font-size: 1.3rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    p, table {
        font-size: .9rem;
    }

    .icon__lg {
        height: 180px;
    }
}

@media (max-width: 620px) {
    .grid__col-3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ".";
    }

    .grid__col-3 > .row__col-3 {
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
    }

    #nav > ul > li {
        font-size: .8rem;
    }

    table {
        border-radius: 10px;
    }
}